# Ignore everthing
*

# Don't ignore directories, so we can recurse into them
!/*


!README.md
!amp_supply_hv_ctrlp/*.kicad_pro
!amp_supply_hv_ctrlp/*.sch
!amp_supply_hv_ctrlp/*.kicad_sch
!amp_supply_hv_ctrlp/*.kicad_pcb
!amp_supply_hv_ctrlp/fp-lib-table
!amp_supply_hv_ctrlp/sym-lib-table
!amp_supply_hv_ctrlp/symbols/*.lib
!amp_supply_hv_ctrlp/symbols/*.dcm
!amp_supply_hv_ctrlp/local.pretty/*.kicad_mod
!datasheets/**
!downloads/**
!cmds.txt
!scripts/**
### !doxy.cfg
### 
